{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="mb-1">Author List</h1>

    {% if authors %}
        <ul class="ml-2">
            {% for a in authors %}
                <li>
                    <a href="{{ path('author_show', { id: a.id }) }}">
                        {{ a.name }}
                    </a>
                    ({{ a.lifetime }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no authors.</p>
    {% endif %}
{% endblock %}
