{{ form_start(form) }}
    <div class="form-control">
        {{ form_errors(form.name) }}
        {{
            form_widget(form.name, {
                'attr': { 'placeholder': 'Genre name...' }
            })
        }}
    </div>
    <input class="form-submit" type="submit" value="Submit">
{{ form_end(form) }}
