{% extends 'base.html.twig' %}

{% block body %}
<h1 class="mb-1">Genre List</h1>

{% if genres %}
    <ul class="ml-2">
        {% for genre in genres %}
            <li>
                <a href="{{ path('genre_show', { id: genre.id }) }}">
                    {{ genre.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no genres.</p>
{% endif %}
{% endblock %}
