{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .auth-layout {
            padding-top: 2rem;
        }
    </style>
{% endblock %}

{% block body %}
    <main class="auth-layout container">
        {% block content %}{% endblock %}
    </main>
{% endblock %}
